<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeWages</title>
    <meta property="og:title" content="Coffee Wages" />
    <meta property="og:image" content="<%= image_url('preview.png') %>"/>
    <meta
       property="og:description"
       content="Coffee Wages is an app focused on providing transparency to people working on the service industry, by allowing workers to post about their working conditions and consumers to frequent businesses that treat their employees fairly."
     />
    <meta
       property="og:url"
       content="https://coffeewages.herokuapp.com/"
     />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag asset_path('logo.svg') %>
    <script type="text/javascript">
      window.neverSettle = "<%= image_url('neversettle-2.jpg') %>";
      window.blob = "<%= image_url('blob.svg') %>";
      window.blob2 = "<%= image_url('blob2.svg') %>";
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script src="https://kit.fontawesome.com/6286336e5a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q4GNNTDRCV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q4GNNTDRCV');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
